@import './mixins';

body {
  overflow: hidden;

  .app {
    transition: ease 0.5s;
    @include flexColumn;
    @include center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    text-shadow: 1px 1px black;

    #quote-box {
      @include flexColumn;
      @include border;
      background-color: $dark;
      width: 60vw;
      border-radius: 15px;
      box-shadow: 1px 1px 1px 1px $mute;

      .fadeOut {
        animation: fadeOutAnimation ease 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes fadeOutAnimation {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .fadeIn {
        animation: fadeInAnimation ease 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      #text {
        @include spacedChildren;
        font-size: xx-large;

        p {
          padding-top: 2%;
        }
      }

      #author {
        @include flexRow;
        @include spacedChildren;
        font-size: medium;
        justify-content: end;
      }
    }

    #button-container {
      @include flexRow;
      @include spacedChildren;
      justify-content: space-between;
      padding-bottom: 2%;

      & > * {
        text-decoration: none;
        border-radius: 5px;
      }

      #tweet-quote {
        color: aliceblue;
        

        i {
          padding: 5px;
          border-radius: 5px;
          border: thin solid $mute;
        }
      }

      #new-quote {
        color: rgba(247, 247, 247, 0.906) !important;
        font-weight: bolder;
        text-shadow: 1px 1px black;
      }
    }
  }
}
