* {
  border: thin solid red;
}

body {
  overflow-y: hidden;
}
body .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
}
body .app #quote-box {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
body .app #text {
  font-size: xx-large;
}
body .app #author {
  font-size: xx-small;
}
body .app #button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
