* {
  border: thin solid red;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
}
.app #quote-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.app #text {
  font-size: xx-large;
}
.app #author {
  font-size: xx-small;
}
.app #button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
