body {
  overflow: hidden;
}
body .app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
}
body .app #quote-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(43, 42, 42, 0.872);
  width: 60vw;
  border-radius: 15px;
}
body .app #text {
  font-size: xx-large;
}
body .app #text > * {
  margin: 2% 6% 2% 5%;
}
body .app #text p {
  padding-top: 2%;
}
body .app #author {
  display: flex;
  flex-direction: row;
  font-size: medium;
  justify-content: end;
}
body .app #author > * {
  margin: 2% 6% 2% 5%;
}
body .app #button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
}
body .app #button-container > * {
  margin: 2% 6% 2% 5%;
}
body .app #button-container > * {
  border-radius: 5px;
}
